body{font-family:'Open Sans', sans-serif;padding-top: 80px;}

.parallax>h2{font-family:'Clicker Script', cursive; font-size: 40px;}
.carousel h2{font-family:'Clicker Script', cursive; font-size: 40px;}
.carousel h4,.carousel>span{font-family:'Clicker Script', cursive; font-size: 25px;}
.sobre>h1{font-family:'Clicker Script',cursive;}

.navbar{background-color: #fff;border:none;}
.navbar-brand{padding-top:15px;}
.navbar li a {padding: 30px;margin:0;border:0px;}
.navbar li a:link {color:#DE0066;}
.navbar li a:visited {color:#DE0066;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #fff; background-color: #DE0066;}
.navbar-toggle {background-color:#DE0066;border:none;}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{background-color:#DE0066;border:none;}


.image-alinha{display: block;margin-left: auto;margin-right: auto;}

.carousel{height:400px}
.carousel-caption{top:50%;margin-top:-70px;left:0;padding:0;text-align:center;position:absolute;width:100%;height:100%;}

.parallax{z-index:1;overflow:hidden;position:relative;background-image:url(../img/freef2.jpg);background-attachment:fixed;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;background-repeat:no-repeat;background-position:top center;color:#fff;padding-top:100px;padding-bottom:100px;width:100%;}


input[type="submit"]{outline:none}
.widget-search input[type="search"],#contact-form input[type="text"],#contact-form textarea,#respond input[type="text"],#respond textarea,
.email{color:#DE0066;font-size:13px;font-family:'Open Sans',sans-serif;border:1px solid #eee;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;outline:none;width:100%;padding:7px 14px;display:block;margin-bottom:10px;transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out}
.error-page{padding:90px 0;text-align:center}
.error-page h1{font-size:160px;line-height:140px;font-weight:700;color:#333}
.error-page h3{font-size:64px;line-height:70px;font-weight:300}
.error-page p{font-size:22px;line-height:28px;color:#666;margin-bottom:25px}
.cont{border-color:#DE0066}
.envi{padding:14px 24px;border:0 none;font-weight:700;letter-spacing:1px;text-transform:uppercase}
.envi:focus,.envi:active:focus,.envi.active:focus{outline:0 none}
.envi{background:#DE0066;color:#fff}
.envi:hover,.envi:focus,.envi:active,.envi.active,.open > .dropdown-toggle.envi{background:#93275d}
.envi:active,.envi.active{background:#f475b4;box-shadow:none}

.nav-tabs a{color:#DE0066}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#fff;background-color:#DE0066}
.nav-tabs>li>a:hover{color:#fff;background-color:rgba(19,30,52,0.16)}

.titulo{overflow:hidden;position:relative;background-size:cover;border-radius:0!important;background-color:#DE0066;color:#ffffff;text-align:center;padding-top: 60px;padding-bottom: 60px;margin-bottom: 30px;font-size: 60px;}
.image-bg1{background-image:url(../img/freef12.jpg);background-position: center;}
.image-bg2{background-image:url(../img/contato.jpg);background-position: center;}

footer{padding-top: 60px;padding-bottom: 60px;background-color:#e8e8e8;color: #a8a8a8;margin-top: 0px;}
footer>h4{color: rgba(222, 0, 102, 0.62);}

.profile-info {color: #DE0066;padding: 25px;position: relative;margin-top: 0px;}
.hvr-underline-from-center,.parallax>h2,.sobre>h1{color:#DE0066}
.sobre>p{color:#a8a8a8;}
.sobre,.img-sobre{padding-bottom: 20px; }
.sobre>h1{font-size: 60px; }
				
.bw {
-webkit-filter: brightness(100%);

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.profile-card:hover {
-webkit-filter: brightness(120%);

}

.galeria-padrao>h1{color:#DE0066;font-family:'Clicker Script',cursive;font-size: 55px;}
.galeria-padrao>h2{color:#a8a8a8;font-size: 15px;}
#submit{margin-bottom:30px;}









@media (min-width:320px) {
 .navbar-brand{margin-top: 0px;padding-top: 0px;}
 .navbar *{border:#fff}

body{padding-top: 30px;}
 .sobre,.galeria-padrao{padding-top: 40px; }
 
 .navbar-brand{height: 60%;width: 60%;}
 



}
@media (min-width:767px) {
.carousel h2{font-size: 70px;}
.carousel h4{font-size: 30px;}
 .intro{display: block;margin-top: auto;margin-bottom: auto;}
 .navbar-brand{padding-top:15px;}
 body{padding-top: 80px;} 
 .navbar-brand{height: 100%;width: 100%;}
}

@media (min-width:970px) {
.carousel h2{font-size: 80px;}
.carousel h4{font-size: 40px;}
 .intro{display: block;margin-top: -150px;margin-bottom: auto;}
 .navbar-brand{padding-top:15px;}
 body{padding-top: 80px;} 
.navbar-brand{height: 100%;width: 100%;}
}


