body
{
      /*  padding-top: 51px;*/
		padding-top: 51px;
		
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* ---------------------- CONFIGUARAÇÕES DA BARRA DE NAVEGAÇÃO----------------------------------- */

.navbar-inverse { background-color: #000000;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #1F1F1F}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #0D0D0D}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #1F1F1F}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #000000}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #D9D9D9}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}





/* ----------------------------- FIM ------------------------CONFIGUARAÇÕES DA BARRA DE NAVEGAÇÃO */





.image {
   /* background: url('http://i.imgur.com/Uwy8J.jpg') no-repeat fixed;*/
	/*background:url(../../teste.png) no-repeat fixed;*/
	background:url(../../teste%20-%20Copia.png) no-repeat fixed;
	
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
	
}

.image2 {
   /* background: url('http://i.imgur.com/Uwy8J.jpg') no-repeat fixed;*/
	background:url(../../architect-calculating-design-2097.jpg) no-repeat fixed;;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}



.image h2 {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
	text-align:center;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 auto;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
	opacity:0.8;
}
.content {
 	width: 100%;
	max-width: 750px;
    margin: 0 auto;
    background: #fff;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    background: #FFF;
    width: 100%;
	padding-left:30px;
	padding-right:30px;
	padding-top:80px;
	padding-bottom:80px;
	height:710px;
}

.content3 {
 	width: 100%;
	max-width: 750px;
    /*margin: 0 auto;*/
	margin-bottom:20px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
    
   box-sizing: border-box;
   -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    background:#000;
    width: 100%;
	padding-left:30px;
	padding-right:30px;
	padding-top:80px;
	padding-bottom:80px;
	height:710px;
}
#preto{
	background-color:#000;
	
	}


p {
   font-family: Georgia, Times, "Times New Roman", serif;
  
    font-size: 17px;
    line-height: 40px;
    margin: 30px 0;
}
li{
	text-align:center;	
	font-family: 'Oswald', sans-serif;
	}
	
#logo{
	
	font-family: 'Oswald', sans-serif;
	font-size:20px;	
	
	
	}
#rodape{
	background-color:#000;	
	
	
	}
#rodape p {
	color:#FFF;
	font-size: 12px;
	text-align:center;	
    font-family: 'Oswald', sans-serif;
    margin: 0px 0;
	
	}
	
















/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }










